build/*
release/*
debug/*
work/*
*.aps
*.suo
*.vcxproj.user
vs2005/build/
bin/
vs2005/PlaceIntoGame/
vs2003/Debug/
vs2003/Release/*
vs2003/build/
vs2003/ddraw.vcproj.old
vs2008/PlaceIntoGame/
vs2008/build/
vs2008/_UpgradeReport_Files/
vs2008/UpgradeLog.XML
